.pg-landing-screen {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-top: calc(var(--gap) * -1.3);
  width: 100vw;

  .positive {
    color: var(--system-green);
  }

  .negative {
    color: var(--system-red);
  }

  h1 {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 56px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    text-align: center;
  }

  h2 {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    line-height: 28px;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    text-align: center;
  }

  .landing-button {
    align-items: center;
    background: var(--button-primary-cta-background-color);
    border-radius: 4px;
    color: var(--button-primary-cta-text-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 44px;
    justify-content: center;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    width: 270px;

    &--secondary {
      background: var(--secondary-contrast-cta-color);
    }
  }

  &__header,
  &__market-info,
  &__platform-info,
  &__register,
  &__features,
  &__trade-on-the-go,
  &__start-trading,
  &__footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    &__wrap {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      max-width: 1140px;
      width: 100%;
    }
  }

  &__header {
    background: var(--subheader-background-color);
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 99;

    &__wrap {
      flex-direction: row;
      justify-content: space-between;
      max-width: 1180px;
      padding: 0 20px;

      &__right {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .landing-button {
          height: 34px;
          width: 170px;

          &--simple {
            background: transparent;
            height: 32px;
            margin-right: 21px;
            width: 76px;
          }
        }
      }
    }
  }

  &__market-info {
    align-items: center;
    background: url(assets/images/landing/GridMainBG.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: unset;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 64px;
    width: 100%;

    &__wrap {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      max-width: 1140px;
      width: 100%;

      &__title {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-top: 60px;
        width: 100%;

        .landing-button {
          margin: 60px 0;
        }
      }

      .pg-ticker-table {
        height: 100%;
        margin-bottom: 70px;
        max-height: 540px;
      }
    }
  }

  &__platform-info {
    background: var(--primary-cta-color);
    height: 250px;
    max-width: 100vw;

    &__wrap {
      flex-direction: row;
      justify-content: space-evenly;

      &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        span {
          color: var(--primary-text-color);
          font-style: normal;
          text-align: center;

          &:first-child {
            font-size: 30px;
            font-weight: 300;
            line-height: 72px;
            margin-bottom: 8px;
          }

          &:last-child {
            font-size: 16px;
            font-weight: normal;
            letter-spacing: 0.25px;
            line-height: 28px;
            opacity: 0.5;
          }
        }
      }
    }
  }

  &__register {
    align-items: center;
    background-image: url(assets/images/landing/TradingUIFullBG.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrap {
      flex-direction: row;
      justify-content: flex-start;
      max-width: 1316px;

      &__item {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: flex-start;
        margin: 105px 0 159px 58px;
        max-width: 464px;
        width: 100%;

        h1,
        h2 {
          text-align: left;
        }

        h1 {
          margin-bottom: 36px;
        }

        h2 {
          margin-bottom: 36px;
        }
      }
    }
  }

  &__features {
    background: var(--landing-background-color);

    &__wrap {
      margin: 73px 0 75px 0;
      max-width: 1210px;
    }

    h1 {
      color: var(--text-contrast-color);
      margin-bottom: 25px;
    }

    &__content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: max-content;
      justify-content: flex-start;
      width: 100%;

      &__row {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: space-between;
        width: 100%;

        &__item {
          align-items: flex-start;
          background: var(--landing-background-color);
          border: 1px solid var(--light-item-border);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          height: 298px;
          justify-content: flex-start;
          margin: 13px 10px;
          padding: 50px 38px;
          width: 100%;

          img {
            margin-bottom: 25px;
          }

          h2 {
            color: var(--text-contrast-color);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.44px;
            line-height: 24px;
            margin-bottom: 19px;
          }

          span {
            color: var(--text-contrast-color);
            font-size: 16px;
            letter-spacing: 0.25px;
            line-height: 28px;
          }
        }
      }
    }
  }

  &__trade-on-the-go {
    align-items: center;
    background-image: url(assets/images/landing/GridSecondBG.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrap {
      flex-direction: row;
      justify-content: flex-end;
      max-width: 1316px;

      &__image {
        align-items: center;
        align-items: flex-start;
        background-image: url(assets/images/landing/PhoneImage.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        height: 100%;
        height: 489px;
        justify-content: flex-start;
        margin-right: 80px;
        max-width: 561px;
        width: 100%;
      }

      &__content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: flex-start;
        margin: 93px 58px 112px 0;
        max-width: 464px;
        width: 100%;

        h1,
        h2 {
          text-align: left;
        }

        h1 {
          margin-bottom: 36px;
        }

        .landing-button {
          margin-top: 36px;
        }
      }
    }
  }

  &__start-trading {
    background: var(--landing-background-color);

    &__wrap {
      margin: 70px 0 103px 0;

      h1 {
        color: var(--text-contrast-color);
        margin-bottom: 70px;
      }

      &__content {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: center;
        width: 100%;

        .landing-button {
          margin: 0 10px;
        }
      }
    }
  }

  &__footer {
    height: 262px;

    &__wrap {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 211px;
      justify-content: space-between;
      width: 100%;

      &__left,
      &__navigation,
      &__social {
        display: flex;
        height: 211px;
        width: 100%;
      }

      &__left {
        align-items: center;
        cursor: pointer;
        flex-direction: row;
        justify-content: flex-start;

        img {
          width: 174px;
        }
      }

      &__navigation {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        &__col {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          a {
            color: var(--primary-text-color);
            cursor: pointer;
            font-size: 12px;
            font-weight: normal;
            line-height: 15px;
            margin-bottom: 10px;
            text-decoration: none;

            &:last-child {
              margin: 0;
            }
          }
        }
      }

      &__social {
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;

        &__row {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          img {
            cursor: pointer;
            height: 25px;
            margin: 12px;
            opacity: 0.5;
            transition: 0.2s linear;
            width: 25px;

            &:hover {
              opacity: 1;
              transition: 0.2s linear;
            }
          }
        }
      }
    }

    &__rights {
      align-items: flex-start;
      color: var(--primary-text-color);
      display: flex;
      font-size: 12px;
      font-weight: normal;
      height: 100%;
      justify-content: center;
      line-height: 15px;
      opacity: 0.5;
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .pg-landing-screen {
    &__features__content__row {
      flex-direction: column;

      &__item {
        width: calc(100% - 20px);
      }
    }

    &__trade-on-the-go__wrap {
      flex-direction: column;
      justify-content: flex-start;

      &__image {
        margin: 0;
      }

      &__content {
        margin: 0 0 112px 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pg-landing-screen {
    &__header__wrap {
      &__left > img {
        width: 90px;
      }

      &__right {
        .landing-button {
          width: 110px;

          &--simple {
            margin-right: 10%;
            width: 60px;
          }
        }
      }
    }

    &__platform-info {
      height: max-content;

      &__wrap {
        flex-direction: column;

        &__item {
          margin: 50px 0;
        }
      }
    }

    &__register__wrap__item {
      margin: 105px 16px 159px 16px;
      width: calc(100% - 32px);
    }

    &__features__content__row__item {
      height: 380px;
    }

    &__trade-on-the-go__wrap__content {
      margin: 93px 16px 112px 16px;
      width: calc(100% - 32px);
    }

    &__start-trading__wrap__content {
      align-items: center;
      flex-direction: column;

      .landing-button {
        margin: 10px 0;
      }
    }

    &__footer {
      align-items: flex-start;
      flex-direction: column;
      height: max-content;
      justify-content: flex-start;
      padding: 0 50px;

      &__wrap {
        align-items: flex-start;
        flex-direction: column;
        height: max-content;
        justify-content: flex-start;

        &__left {
          height: 111px;
          justify-content: center;
        }

        &__navigation,
        &__social {
          align-items: center;
          height: 111px;
        }
      }

      &__rights {
        align-items: center;
        height: 60px;
      }
    }
  }
}
